$app-dashboard-collapsed-sidebar-width: rem-calc(80);
$app-dashboard-sidebar-width: $off-canvas-width;

.app-dashboard {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-dashboard-body {
  flex: 1 1 auto;
  display: flex;
}

.app-dashboard-sidebar {
  background-color: $white;
  height: 100%;
  overflow-x: visible;
  overflow-y: auto;
  z-index: 1;
  transition: all $offcanvas-transition-length $offcanvas-transition-timing;

  .app-dashboard-open-sidebar,
  .app-dashboard-close-sidebar{
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    height: 3rem;
  }

  .app-dashboard-sidebar-block-title {
    margin-bottom: 0;
  }

  .app-dashboard-sidebar-close-button {
    img {
      vertical-align: bottom;
    }
  }

  img + .app-dashboard-sidebar-text {
    margin-left: 1rem;
  }

  .app-dashboard-sidebar-inner {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;

    .menu > li > a {
      align-items: center;
      padding: 0.6368rem 1rem;
    }
  }
}

.reveal-for-medium {
  .app-dashboard-open-sidebar {
    display: none;
  }
}

.app-dashboard-sidebar-footer {
  background: rgba(42, 57, 79, 0.8);
  bottom: 0;
  left: 0;
  padding: 1rem;
  position: absolute;
  width: 100%;
}

.app-dashboard-open-sidebar {
  text-align: center;
}

.app-dashboard-body-content {
  transition: all $offcanvas-transition-length $offcanvas-transition-timing;
  overflow-y: auto;
  flex: 1 1 0;
  padding: 20px;
  background-color: lightgray;
}

@mixin shrunk-sidebar() {
  .app-dashboard-close-sidebar,
  .app-dashboard-sidebar-text {
    display: none;
  }

  .app-dashboard-open-sidebar {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .app-dashboard-sidebar {
    width: $app-dashboard-collapsed-sidebar-width;
  }

  .off-canvas-content {
    margin-left: $app-dashboard-collapsed-sidebar-width;
    width: calc(100% - #{$app-dashboard-collapsed-sidebar-width});
  }

  .menu.vertical > li > a {
    justify-content: center;
  }

  .menu {
    li {
      &::after {
        display: none;
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
      }

      a {
        svg {
          margin: 0;
        }

        span {
          display: none;
          opacity: 0;
          transition: opacity 0.5s ease-in-out;
        }
      }
    }
  }
}

// mini sidebar on medium/tablet size
@include breakpoint(medium only) {
  .app-dashboard.shrink-medium {
    @include shrunk-sidebar()
  }
}
@include breakpoint(large) {
  .app-dashboard.shrink-large {
    @include shrunk-sidebar()
  }
}

.index-menu {
  background: black;
}

.indexBox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.indexButtons {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
}
.white {
  color: white;
}

h2 {
  background: black;
  color: white;
  padding: 2vmin 0vmin;
  margin: 2vmin;
  text-align: center;
  border-top: 3px solid #5A8639;
  border-bottom: 3px solid #5A8639;
  font-family: sans-serif;
  font-weight: 100;
  font-size: 5vh;
}

.menuHead {
  padding: 2vmin 0vmin;
  margin: 3vmin;
  text-align: center;
  border-top: 2px solid #5A8639;
  border-bottom: 2px solid #5A8639;
  font-family: sans-serif;
  font-weight: 100;
  font-size: 3.5vh;
}

.gallery {
  padding: .5vh 0vh;
}

.indexSection {
  padding: 2vmin 5vmin;
}

.welcomeContainer {
  display: flex;
  flex-flow: column;
  margin: 2.5vh 0vh;
}

.green {
  color: #2AA252;
  font-weight: 600;
}

.welcome {
  font-family: sans-serif;
  font-weight: 100;
  text-align: center;
}

.advise {
  font-size: smaller;
  text-align: center;
}

.card {
  border: 2px solid #5A8639;
}

.pSection {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.container {
  margin: 4vh 0vh 1vh 0vh;
}

.tabs {
  margin: 0;
  border-bottom: 1px solid grey;
  background: #fefefe;
  list-style-type: none;
}

.big {
  font-size: x-large;
  font-weight: 300
}
.small {
  font-size: smaller;
}

.aboutBox {
  display: flex;
  flex-flow: row;
}

.aSection, .sSection {
  padding: 2.5vh 3.5vh
}

.special {
  outline: black 1px solid;
}

.bold {
  font-weight: 700;
}

.center {
  text-align: center;
}

#googleMap {
  outline: 1px #2AA252 solid;
  width: 100%;
  height: 51vmax;
  margin-top: 4vh;
}

iframe {
  outline: 1px #2AA252 solid;
  width: 100%;
  height: 50vmax;
  margin-top: 4vh;
  border: none;
}

#as1 {
  display: block;
}

#as2 {
  display: none;
}

.social {
  font-size: 7.5vh;
  margin: 3vh 0vh;
}

.orbit-previous, .orbit-next {
  color: black;
}

.orbit-container {
  margin: 0px 10vw;
  height: 60vh;
}

.aboutContent {
  margin: 0vmin 3vmin;
}

.viewContent {
  display: flex;
  flex-flow: column;
  justify-content: center;
}

#viewSwitch {
  margin: 0vmin 2vmin;
}

.toggle {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0vmin 5vmin;
}

footer {
    width: 100%;
    background-color: black;
    color: white;
    padding: 2vh;
    border-top: 3px solid white;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    height: 8vmax;
}

.socialFoot {
    font-size: 8vmin;
    text-align: center;
}

th {
  text-align: center;
  font-size: 2vmax;
}

td {
  font-size: 1.75vmax;
  font-weight: 350;
}

#product-tabs {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
}

// 5B8A3C, 979694, 98E6B4, black, white