<h4><i class="far fa-clock"></i> Sun - Sat, 9AM - 7PM</h4>
<h4><i class="fas fa-phone"></i> 720.692.1539</h4>
<h4><i class="fas fa-map-marker-alt"></i> 3819 Quentin St. Denver, CO 80239</h4>

<div class="buttonLine">
    Toggle view: 
    <div class="switch large">
        <input class="switch-input" id="viewSwitch" type="checkbox" name="viewSwitch">
        <label class="switch-paddle" for="viewSwitch">
            <span class="show-for-sr">Toggle map view</span>
        </label>
    </div>
</div>

<div class="aSection" id="as1">
    <div id="googleMap"></div>
    <div>{{> gallery}}</div>
</section>

<div class="aSection" id="as2">
    <iframe allowfullscreen src='https://tourmkr.com/G1unaHJ62q/7376490p,2744489m,49.26h,85.74t'></iframe>
</div>

<script>
    function myMap() {
        var myLatLng = {lat: 39.770100, lng: -104.845130}
        var mapProp = {
            center: myLatLng,
            zoom: 14,
        };
        var image = '../../assets/img/Webp.net-resizeimage.png'
        var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);
        var marker = new google.maps.Marker({
            position: myLatLng,
            map: map,
            title: 'Tokin\' County',
            icon: image
        });
        var panorama = new google.maps.StreetViewPanorama(
            document.getElementById('map'), {
                position: myLatLng,
                pov: { heading: 300, pitch: 0 },
                motionTrackingControlOptions: {
                    position: google.maps.ControlPosition.LEFT_BOTTOM
                }
            });
        map.setStreetView(panorama);
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAnGhip0kEAil0pnIgVUOiqgEPAdHH07cE&callback=myMap"></script>