<table>
    <thead>
        <tr>
            <th width="200">Strain</th>
            <th width="150">Price</th>
            <th width="150">Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Strain 1</td>
            <td>$12</td>
            <td>It's dope</td>            
        </tr>
        <tr>
            <td>Strain 2</td>
            <td>$12</td>
            <td>It's dope</td>
        </tr>
        <tr>
            <td>Strain 3</td>
            <td>$12</td>
            <td>It's dope</td>
        </tr>
    </tbody>
</table>