<ul class="tabs" data-tabs id="example-tabs">
    <li class="tabs-title is-active"><a href="#panel1" aria-selected="true">Ind</a></li>
    <li class="tabs-title"><a data-tabs-target="panel2" href="#panel2">Sat</a></li>
    <li class="tabs-title"><a data-tabs-target="panel3" href="#panel3">Hyb</a></li>
    <li class="tabs-title"><a data-tabs-target="panel4" href="#panel4">Edi</a></li>
    <li class="tabs-title"><a data-tabs-target="panel5" href="#panel5">W/R</a></li>
    <li class="tabs-title"><a data-tabs-target="panel4" href="#panel4">Glass</a></li>
    <li class="tabs-title"><a data-tabs-target="panel5" href="#panel5">Merch</a></li>
</ul>
<div class="tabs-content" data-tabs-content="example-tabs">
    <div class="tabs-panel is-active" id="panel1">
        <h3 class="menuHead">Indica</h3>
        <table class="hover table-scroll">
            <thead>
                <tr>
                    <th class="welcome">Strain</th>
                    <th class="welcome">Desc.</th>
                    <th class="welcome">Price</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Strain</td>
                    <td>Description</td>
                    <td>Price Breakdown</td>
                </tr>
                <tr>
                    <td>Strain</td>
                    <td>Description</td>
                    <td>Price Breakdown</td>
                </tr>
                <tr>
                    <td>Strain</td>
                    <td>Description</td>
                    <td>Price Breakdown</td>
                </tr>
                <tr>
                    <td>Strain</td>
                    <td>Description</td>
                    <td>Price Breakdown</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="tabs-panel" id="panel2">
        <h3 class="menuHead">Sativa</h3>
        <table class="hover table-scroll">
            <thead>
                <tr>
                    <th class="welcome">Strain</th>
                    <th class="welcome">Desc.</th>
                    <th class="welcome">Price</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Strain</td>
                    <td>Description</td>
                    <td>Price Breakdown</td>
                </tr>
                <tr>
                    <td>Strain</td>
                    <td>Description</td>
                    <td>Price Breakdown</td>
                </tr>
                <tr>
                    <td>Strain</td>
                    <td>Description</td>
                    <td>Price Breakdown</td>
                </tr>
                <tr>
                    <td>Strain</td>
                    <td>Description</td>
                    <td>Price Breakdown</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="tabs-panel" id="panel3">
        <h3 class="menuHead">Hybrid</h3>
        <table class="hover table-scroll">
            <thead>
                <tr>
                    <th class="welcome">Strain</th>
                    <th class="welcome">Desc.</th>
                    <th class="welcome">Price</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Strain</td>
                    <td>Description</td>
                    <td>Price Breakdown</td>
                </tr>
                <tr>
                    <td>Strain</td>
                    <td>Description</td>
                    <td>Price Breakdown</td>
                </tr>
                <tr>
                    <td>Strain</td>
                    <td>Description</td>
                    <td>Price Breakdown</td>
                </tr>
                <tr>
                    <td>Strain</td>
                    <td>Description</td>
                    <td>Price Breakdown</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="tabs-panel" id="panel4">
        <h3 class="menuHead">Edibles</h3>
        <table class="hover table-scroll">
            <thead>
                <tr>
                    <th class="welcome">Strain</th>
                    <th class="welcome">Desc.</th>
                    <th class="welcome">Price</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Strain</td>
                    <td>Description</td>
                    <td>Price Breakdown</td>
                </tr>
                <tr>
                    <td>Strain</td>
                    <td>Description</td>
                    <td>Price Breakdown</td>
                </tr>
                <tr>
                    <td>Strain</td>
                    <td>Description</td>
                    <td>Price Breakdown</td>
                </tr>
                <tr>
                    <td>Strain</td>
                    <td>Description</td>
                    <td>Price Breakdown</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="tabs-panel" id="panel5">
        <h3 class="menuHead">Wax/Resin</h3>
        <table class="hover table-scroll">
            <thead>
                <tr>
                    <th class="welcome">Strain</th>
                    <th class="welcome">Desc.</th>
                    <th class="welcome">Price</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Strain</td>
                    <td>Description</td>
                    <td>Price Breakdown</td>
                </tr>
                <tr>
                    <td>Strain</td>
                    <td>Description</td>
                    <td>Price Breakdown</td>
                </tr>
                <tr>
                    <td>Strain</td>
                    <td>Description</td>
                    <td>Price Breakdown</td>
                </tr>
                <tr>
                    <td>Strain</td>
                    <td>Description</td>
                    <td>Price Breakdown</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
