<div class="container">
    <ul class="tabs" data-tabs id="product-tabs">
        <li class="tabs-title is-active"><a href="#panel1" aria-selected="true">Ind</a></li>
        <li class="tabs-title"><a data-tabs-target="panel2" href="#panel2">Sat</a></li>
        <li class="tabs-title"><a data-tabs-target="panel3" href="#panel3">Hyb</a></li>
        <li class="tabs-title"><a data-tabs-target="panel4" href="#panel4">Edi</a></li>
    </ul>
    <div class="tabs-content" data-tabs-content="product-tabs">
        <div class="tabs-panel is-active" id="panel1">
            <h3 class="menuHead">Indica</h3>
            <table class="hover table-scroll">
                <thead>
                    <tr>
                        <th>Strain</th>
                        <th>1G - 2G - 1/8 - 1/4 - 1/2 - OZ</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Blackberry Kush</td>
                        <td>$8 - $15 - $20 - $35 - $65 - $110</td>
                    </tr>
                    <tr>
                        <td>Blueberry</td>
                        <td>$8 - $15 - $20 - $35 - $65 - $110</td>
                    </tr>
                    <tr>
                        <td>Querkle</td>
                        <td>$8 - $15 - $20 - $35 - $65 - $110</td>
                    </tr>
                    <tr>
                        <td>Kosher Kush</td>
                        <td>$11 - $20 - $25 - $45 - $75 - $130</td>
                    </tr>
                    <tr>
                        <td>Purple Nepal</td>
                        <td>$11 - $20 - $25 - $45 - $75 - $130</td>
                    </tr>
                    <tr>
                        <td>Godfather OG</td>
                        <td>$14 - $25 - $30 - $55 - $85 - $150</td>
                    </tr>
                    <tr>
                        <td>Indica Shake</td>
                        <td>$5 - N/A - $15 - $25 - $35 - $60</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="tabs-panel" id="panel2">
            <h3 class="menuHead">Sativa</h3>
            <table class="hover table-scroll">
                <thead>
                    <tr>
                        <th>Strain</th>
                        <th>1G - 2G - 1/8 - 1/4 - 1/2 - OZ</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Chocolope</td>
                        <td>$8 - $15 - $20 - $35 - $65 - $110</td>
                    </tr>
                    <tr>
                        <td>Golden Goat</td>
                        <td>$11 - $20 - $25 - $45 - $75 - $130</td>
                    </tr>
                    <tr>
                        <td>Lemon Skunk</td>
                        <td>$14 - $25 - $30 - $55 - $85 - $150</td>
                    </tr>
                    <tr>
                        <td>Original Loud</td>
                        <td>$14 - $25 - $30 - $55 - $85 - $150</td>
                    </tr>
                    <tr>
                        <td>Power Bless</td>
                        <td>$11 - $20 - $25 - $45 - $75 - $130</td>
                    </tr>
                    <tr>
                        <td>Sativa Shake</td>
                        <td>$5 - N/A - $15 - $25 - $35 - $60</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="tabs-panel" id="panel3">
            <h3 class="menuHead">Hybrid</h3>
            <table class="hover table-scroll">
                <thead>
                    <tr>
                        <th>Strain</th>
                        <th>1G - 2G - 1/8 - 1/4 - 1/2 - OZ</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>GSC</td>
                        <td>$11 - $20 - $30 - $45 - $75 - $130</td>
                    </tr>
                    <tr>
                        <td>OG Kush</td>
                        <td>$14 - $25 - $30 - $55 - $85 - $150</td>
                    </tr>
                    <tr>
                        <td>Snow Goddess</td>
                        <td>$14 - $25 - $30 - $55 - $85 - $150</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="tabs-panel" id="panel4">
            <h3 class="menuHead">Edibles</h3>
            <table class="hover table-scroll">
                <thead>
                    <tr>
                        <th>Edible</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Bliss Peanut Butter Cup</td>
                        <td>$10</td>
                    </tr>
                    <tr>
                        <td>High Love</td>
                        <td>$18</td>
                    </tr>
                    <tr>
                        <td>CBD Therapy - Sour Cherry Berry Puck</td>
                        <td>$35</td>
                    </tr>
                    <tr>
                        <td>Black Cherry Dark Choc</td>
                        <td>$28</td>
                    </tr>
                    <tr>
                        <td>Pistachio White Choc</td>
                        <td>$21</td>
                    </tr>
                    <tr>
                        <td>Coda Chocolate Bars</td>
                        <td>$20</td>
                    </tr>
                    <tr>
                        <td>Hot Chocolate on a Spoon</td>
                        <td>$8</td>
                    </tr>
                    <tr>
                        <td>Synergy Watermelon Gummies</td>
                        <td>$24</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>