<section class="sSection">
    <div class="callout special" id="mon">
        <h4 class="bold center">Munchie Monday</h4>
        <h5 class="center">$30 off two or more edibles</h5>
    </div>
    <div class="callout special" id="tues">
        <h4 class="bold center">Terpy Tuesday</h4>
        <h5 class="center">10% off live resin</h5>
    </div>
    <div class="callout special" id="wed">
        <h4 class="bold center">Weed Wednesday</h4>
        <h5 class="center">Spend $30, receive a penny cone</h5>
    </div>
    <div class="callout special" id="thurs">
        <h4 class="bold center">Tropical & Tincture Thursday</h4>
        <h5 class="center">10% off topicals & tinctures</h5>
    </div>
    <div class="callout special" id="fri">
        <h4 class="bold center">Five Pack Friday</h4>
        <h5 class="center">10% off five-packs of cones</h5>
    </div>
    <div class="callout special" id="wknd">
        <h4 class="bold center">Shakedown Saturdays & Sundays</h4>
        <h5 class="center">$25 OTD ozs</h5>
    </div>
</section>