<ul class="dropdown menu" data-dropdown-menu>
    <li>
        <a href="#cannabis">Cannabis</a>
        <ul class="menu">
            <li><a href="#sativa">Sativa</a></li>
            <li><a href="#indica">Indica</a></li>
            <li><a href="#hybrid">Hybrid</a></li>
            <li><a href="#edible">Edible</a></li>
            <li><a href="#waxresin">Wax/Resin</a></li>
        </ul>
    </li>
    <li><a href="#merch">Merch</a></li>
    <li><a href="#specials">Specials</a></li>
    <li><a href="#about">About Us</a></li>
</ul>