<section class="topnav">
    <nav>
        <ul class="dropdown menu mNav" data-dropdown-menu>
            <li class="menu-text">
                <i class="fas fa-cannabis"></i></i>
                <span> Tokin' County</span></li>
            <li>
                <a href="#products">Products</a>
                <ul class="menu">
                    <li><a href="#sativa">Sativa</a></li>
                    <li><a href="#indica">Indica</a></li>
                    <li><a href="#hybrid">Hybrid</a></li>
                    <li><a href="#edible">Edible</a></li>
                    <li><a href="#waxresin">Wax/Resin</a></li>
                </ul>
            </li>
            <li><a href="#merch">Merch</a></li>
            <li><a href="#specials">Specials</a></li>
            <li><a href="#about">About Us</a></li>
        </ul>
    </nav>
    <div>
        <ul class="menu align-right social">
            <li><a href="#merch"><i class="fab fa-facebook-square"></i></a></li>
            <li><a href="#specials"><i class="fab fa-instagram"></i></a></li>
            <li><a href="#about"><i class="fab fa-pinterest-square"></i></a></li>
        </ul>
    </div>
</section>